<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>IS3102</display-name>
	<servlet>
		<description>
		</description>
		<display-name>CreateInventory</display-name>
		<servlet-name>CreateInventory</servlet-name>
		<servlet-class>
		servlet.CreateInventory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>searchInventory</display-name>
		<servlet-name>searchInventory</servlet-name>
		<servlet-class>
		servlet.searchInventory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateContainer</display-name>
		<servlet-name>CreateContainer</servlet-name>
		<servlet-class>
		servlet.CreateContainer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>searchContainer</display-name>
		<servlet-name>searchContainer</servlet-name>
		<servlet-class>
		servlet.searchContainer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateSupplier</display-name>
		<servlet-name>CreateSupplier</servlet-name>
		<servlet-class>
		servlet.CreateSupplier</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>searchSupplier</display-name>
		<servlet-name>searchSupplier</servlet-name>
		<servlet-class>
		servlet.searchSupplier</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CreateLocation</display-name>
		<servlet-name>CreateLocation</servlet-name>
		<servlet-class>
		servlet.CreateLocation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>searchLocation</display-name>
		<servlet-name>searchLocation</servlet-name>
		<servlet-class>
		servlet.searchLocation</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>viewSuppliersList</display-name>
		<servlet-name>viewSuppliersList</servlet-name>
		<servlet-class>
		servlet.viewSuppliersList</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>editSupplier</display-name>
		<servlet-name>editSupplier</servlet-name>
		<servlet-class>
		servlet.editSupplier</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addItem</display-name>
		<servlet-name>addItem</servlet-name>
		<servlet-class>
		servlet.addItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateInventory</servlet-name>
		<url-pattern>/CreateInventory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchInventory</servlet-name>
		<url-pattern>/searchInventory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateContainer</servlet-name>
		<url-pattern>/CreateContainer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchContainer</servlet-name>
		<url-pattern>/searchContainer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateSupplier</servlet-name>
		<url-pattern>/CreateSupplier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchSupplier</servlet-name>
		<url-pattern>/searchSupplier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateLocation</servlet-name>
		<url-pattern>/CreateLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>searchLocation</servlet-name>
		<url-pattern>/searchLocation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewSuppliersList</servlet-name>
		<url-pattern>/viewSuppliersList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>editSupplier</servlet-name>
		<url-pattern>/editSupplier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addItem</servlet-name>
		<url-pattern>/addItem</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
